
html {
    box-sizing: border-box;
}

.body {
    background-color: #FFF;
    display: flex;
    width: 1920px;
    height: 1080px;
    padding: 0px 309px 0px 310px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .body {
        display: flex;
        width: auto;
        padding: 0px 80px 0px 80px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:430px) {
    .body {
        display: flex;
        width: auto;
        padding: 40px 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.container { 
    box-sizing: border-box;
    width: 821px;
    height: 272px;
    padding: 0px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 3px 20px 8px rgba(0, 0, 0, 0.25);
}

@media (min-width: 821px) {
    .container {
        width: auto;
        height: auto;
        flex-shrink: 0;
    }    
}

@media (max-width: 430px) {
    .container {
        width: 350px;
        height: 450px;
        flex-shrink: 0;
    }
}

.secction {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media (min-width: 821px) {
    .secction {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }    
}

@media (max-width: 430px) {
    .secction {
        padding-top: 20%;
        padding-bottom: 20%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

.text {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media (min-width: 821px) {
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}

@media (max-width: 430px) {
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    
}

.title {
    color: #00B2E7;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

@media (max-width: 430px) {
    .tittle {
        width: auto;
    }    
}


p {
    color: #5B5B5F;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.button-text {
    color: #FFF !important;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span {
    color: #00B2E7;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button-layout {
    display: flex;
    padding: 0px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-style {
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    background: #00B2E7;
}


